.card {
  background-color: rgba($bg-grey, 0.5);
  border-radius: 6px;
  position: relative;
  transform: translateY(0);
  transition: all 0.35s ease;

  @include atMobileAndUp {
    &:hover {
      transform: translateY(-5px);
    }
  }

  .head {
    padding: 15px 20px;
    background-color: $black;
    border-radius: 6px 6px 0 0;

    &.blue {
      background-color: $blue;
    }

    .category {
      margin: 0;
      line-height: 1;
      text-transform: uppercase;
      color: $white;
      font-size: 1em;
    }
  }

  .body {
    padding: 35px 20px;

    .title {
      margin: 0 0 20px 0;
    }
  }
}
