/* stylelint-disable */
/* Default styles for pagination and general toggling */
.toggle-more {
  @include hard-center;

  svg {
    font-size: 3em;
    color: $blue;
    margin-bottom: $spacer-medium;
    transform: translateY(0);
    transition: all 1s ease;
    cursor: pointer;

    &:hover {
      transform: translateY(3px);
    }
  }
}

.icon-container {
  @include hard-center;

  svg {
    font-size: 2em;
    margin-right: 12px;
    color: $blue;
  }
}
