/* Colors */
.blue {
  color: $blue;
}

.faded-blue {
  color: $faded-blue;
}

.black {
  color: $black;
}

.white {
  color: $white;
}

.yellow {
  color: $yellow;
}

/* Weights */
.bold {
  font-weight: 700;
  letter-spacing: 2px;
}

.light {
  font-weight: 300;
}
