.content-section {
  border-bottom: 1px solid rgba($shade-black, 0.15);

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border: none;
  }

  @include allHeaders {
    margin-bottom: 10px;
  }

  h5,
  h6 {
    margin-bottom: 5px;
  }

  p {
    color: $para;
    font-size: 1.1em;
    line-height: 1.5;

    @include atMobileAndUp {
      width: 80%;
    }
  }
}
