.project-content {
  @import "content-section";

  .icon-container {
    padding-bottom: 12.5px;
    margin-bottom: 12.5px;
    border-bottom: 1px solid rgba($black, 0.05);

    svg {
      font-size: 2em;
      margin: 0 5px;
    }
  }

  #project-testimonial {
    .testimonial-container {
      background-color: transparent;
    }

    .previous {
      @include atMobile {
        display: none;
      }
    }

    .testimonials {
      align-items: flex-start;
      padding: 30px 0;
    }

    svg,
    p,
    span {
      color: $shade-black;
    }
  }

  .cta {
    width: 100%;
  }
}
