.project-content {
  .content-section {
    border-bottom: 1px solid rgba($shade-black, 0.15);

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border: none;
    }

    @include allHeaders {
      margin-bottom: 10px;
    }

    p {
      color: $para;
      font-size: 1.1em;
      line-height: 1.5;
    }
  }

  #project-testimonial {
    .testimonial-container {
      background-color: transparent;
    }

    .testimonials {
      align-items: flex-start;
    }

    svg,
    p,
    span {
      color: $shade-black;
    }
  }
}
