.posts-container {
  @import "parts/posts-navigation";

  @extend %layout-two-columns;

  article {
    @import "parts/read-more";

    background-color: rgba($bg-grey, 0.5);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.featured-post {
      order: -1; //bring it to the front of page
      border: 1px solid rgba($black, 0.15);
      border-bottom: 6px solid $blue;
    }

    .top-post {
      padding: 20px 35px 0 35px;
      margin-bottom: 12.5px;
      position: relative;

      @include atTablet {
        padding: 20px 20px 0 20px;
      }

      @include atMobile {
        padding-top: 10px;
      }

      .entry-title {
        @include atTablet {
          margin-top: 10px;
        }
      }

      .entry-summary {
        @extend %text-small;

        padding-bottom: 20px;
      }
    }
  }
}
