.about-section {
  background-color: rgba($bg-grey, 0.5);

  h1 {
    margin-bottom: 10px;
  }

  .inner-container {
    display: flex;
    justify-content: space-between;

    @include atTablet {
      flex-direction: column;
    }
  }

  .button-container {
    margin-top: 30px;
  }

  .content-container {
    width: 50%;

    @include atTablet {
      margin-bottom: $spacer-medium;
      width: auto;
    }
  }

  .technologies {
    i,
    svg {
      color: $shade-black;
      font-size: 2.2em;
      margin: 0 12.5px 12.5px 0;
    }
  }
}
