.projects {
  .projects-section-header {
    display: flex;
    margin-bottom: 35px;
  }

  .projects-section {
    display: flex;

    .project {
      flex-basis: 20%;

      img {
        width: 350px;
      }
    }
  }
}
