.projects-section-header {
  display: flex;
  margin-bottom: $spacer-small;

  @include atPortrait {
    flex-direction: column;
  }

  h1 {
    margin: 0;

    @include atMobile {
      text-align: center;
    }
  }

  .project-select {
    display: flex;
    margin-left: 5%;

    @include atPortrait {
      margin: 5% 0 0 0;
    }

    @include atMobile {
      display: flex;
      justify-content: center;
    }

    .project-col {
      @extend %column-center;

      background-color: $shade-black;
      padding: 10px 15px;
      border-right: 1px solid rgba($white, 0.5);
      width: 75px;
      cursor: pointer;
      transition: all 0.5s ease;

      @include atMobile {
        padding: 5px;
        background-color: transparent;
      }

      &:hover {
        background-color: $black;
        transform: translateY(-1px);
      }

      span {
        color: $white;
        font-size: 14px;
      }

      i,
      svg {
        color: $blue;
        font-size: 1.5em;
        margin-bottom: 5px;
      }

      span,
      i,
      svg {
        @include atMobile {
          color: $shade-black;
        }
      }
    }
  }
}
