.projects-section {
  @import "image-overlay";
  @import "project-preview";

  @include border-top($grey);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0;

  .button-container {
    margin-top: $spacer-small;
  }
}
