%image-border {
  box-shadow: 0 0 5px rgba($black, 0.15);
  border-radius: 4px;
  transition: all 0.35s ease;

  &:hover {
    box-shadow: 0 0 12px rgba($black, 0.35);
  }
}

%absolute-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* stylelint-disable */
%hero-gradient {
  background: linear-gradient(
    135deg,
    $blue 33%,
    rgb(139, 154, 206) 80%,
    rgba(106,171,213,1) 100%
  );
}