%layout-two-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .col {
    flex-basis: 47.5%;

    @include atMobile {
      flex-basis: 100%;
    }
  }
}

%layout-two-columns-break-tablet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .col {
    flex-basis: 47.5%;

    @include atTablet {
      flex-basis: 100%;
    }
  }
}

@mixin mobile-two-columns {
  @include atTablet {
    flex-basis: 48%;
    max-width: 48%;
    margin: 12.5px 0;
  }

  @include atMobile {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@mixin column-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include atTablet {
    justify-content: space-between;
  }
}

%layout-three-columns {
  @include column-flex;

  .col {
    flex-basis: 31%;
    max-width: 31%;
    margin: 0 1%;

    @include mobile-two-columns;
  }
}

%layout-four-columns {
  @include column-flex;

  .col {
    flex-basis: 24%;
    max-width: 24%;
    margin: 0 1%;

    @include mobile-two-columns;
  }
}
