.related-media {
  @include mt-custom(35px, 20px);

  .header-container {
    @include border-bottom($grey);
    @include mb-custom($spacer-medium, $spacer-small);

    .main-header {
      margin-bottom: 0;
    }
  }

  .card {
    .body {
      .title {
        margin-bottom: 10px;
      }

      .inline-icon-container {
        margin-bottom: 0;
      }

      .description {
        @extend %text-small;
      }
    }
  }

  .link-container a {
    @extend %absolute-fill;
  }

  .card-container {
    @extend %layout-four-columns;
  }
}
