@mixin btn-size-normal {
  padding: 12.5px 35px;
  font-size: 1em;
}

@mixin btn-size-normal-plus {
  padding: 17px 40px;
  font-size: 1em;
}

@mixin btn-size-large {
  padding: 22.5px 30px;
  font-size: 1.1em;
}

@mixin btn-size-small {
  padding: 10px;
  font-size: 0.9em;
}
