/*
 * repeatable SPACER related elements,
 * such as sections and margin
 */

@mixin spacer() {
  padding: $spacer-medium-plus 0;

  @include atTablet() {
    padding: $spacer-medium 0;
  }
}

@mixin spacer-small() {
  padding: $spacer-small 0;
}

@mixin mt-medium() {
  margin-top: $spacer-medium;

  @include atTablet() {
    margin-top: $spacer-small;
  }
}
