/*stylelint-disable*/

@mixin font-smoothing() {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin allHeaders() {
  h1, h2, h3, h4, h5, h6 {
    @content;
  }
}

@mixin allText() {
  li, ul, a, p, i, b, span {
    @content;
  }
}

@mixin menuItems() {
  li, ul {
    @content;
  }
}

@mixin font($family) {
  font-family: $family, Helvetica, Arial, sans-serif;
}

@mixin font-scale($scale) {
  h1 { font-size: $scale*3.47em; }
  h2 { font-size: $scale*2.6em; }
  h3 { font-size: $scale*1.95em; }
  h4 { font-size: $scale*1.466em; }
  h5 { font-size: $scale*1.1em; }
  h6 { font-size: $scale*1em; }
}
