/* General APP Mixins */
@mixin scrollbar($color, $size) {
  &::-webkit-scrollbar {
    width: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $color;
  }
}

//creates colors bullet points on lists
@mixin color-bullets($color) {
  list-style: none;

  li {
    padding-left: 1em;
    position: relative;

    &::before {
      content: "• ";
      color: $color;
      font-size: 15px;
      position: absolute;
      top: 1px;
      left: 0;
    }
  }
}

@mixin border-bottom($color) {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba($color, 0.15);
}

@mixin border-top($color) {
  padding-top: 15px;
  border-top: 1px solid rgba($color, 0.15);
}
