body {
  @include font-smoothing;
  @include font("Open Sans");

  font-size: 16px;
}

/* Headers */
@include allHeaders {
  @include font("Lato");

  margin-top: 0;
}

/* Apply Fonts to menu items */
@include menuItems {
  @include font("Lato");

  letter-spacing: 0.5px;
}

h1 {
  font-size: $header1-size;
}

h2 {
  font-size: $header2-size;
}

h3 {
  font-size: $header3-size;
}

h4 {
  font-size: $header4-size;
}

h5 {
  font-size: $header5-size;
}

h6 {
  font-size: $header6-size;
}

.para {
  color: $para;
  line-height: 1.5;
  font-size: 1.1em;
}

/* Various Text Elements */
a {
  text-decoration: none;
}

svg {
  transition: all 0.5s ease;
}

button,
.button {
  @include font("Lato");
}

/* Inner Containers */
.inner-container {
  @include inner-container;
}
