&::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  top: -10px;
  border-width: 0 8.5px 10px 8.5px;
  border-color: transparent transparent $white transparent;
}
