.archive-header {
  background-color: $blue;
  padding: $spacer-larger 0 $spacer-medium 0;
  border-bottom: 1px solid rgba($shade-black, 0.2);

  @include allHeaders {
    color: $white;
    margin-bottom: 10px;
  }

  p {
    color: $white;
  }

  .subtitle-container {
    a {
      color: $white;
      font-weight: 700;
      text-decoration: underline;
    }

    @include allHeaders {
      font-weight: 400;
    }
  }
}
