.archive-header {
  background-color: $blue;
  padding: $spacer-large 0 $spacer-medium 0;
  border-bottom: 1px solid rgba($shade-black, 0.2);

  @include allHeaders {
    color: $white;
    margin-bottom: 20px;
  }

  .subtitle-container {
    margin-top: $spacer-small;

    a {
      color: $shade-black;
      font-weight: 700;
      text-decoration: underline;
    }

    @include allHeaders {
      color: $black;
      font-weight: 400;
    }
  }
}
