.entry-meta {
  display: flex;
  flex-direction: column;
  margin-bottom: 12.5px;

  @include border-bottom($shade-black);

  @include atMobile {
    flex-direction: column;
  }

  .categories {
    a {
      text-decoration: none;

      @include atMobileAndUp {
        padding-right: 5px;
      }

      &::after {
        content: "-";
        color: $shade-black;

        @include atMobileAndUp {
          margin-left: 5px;
        }
      }

      &:last-child::after {
        display: none;
      }
    }
  }

  .meta-col {
    margin-top: 12.5px;
    display: flex;
    align-items: center;

    @include atMobile {
      padding: 0;
      margin-bottom: 10px;
      border: none;
    }

    .icon-container {
      width: 30px;
      margin-right: 7.5px;
    }
  }

  .categories,
  time {
    @include atMobile {
      font-size: 0.9em;
    }
  }
}
