.entry-meta {
  display: flex;
  flex-direction: column;
  margin-bottom: 12.5px;

  @include border-bottom($shade-black);

  @include atMobile {
    flex-direction: column;
  }

  .categories {
    a {
      text-decoration: none;
      padding-right: 5px;

      &::after {
        content: "-";
        margin-left: 5px;
        color: $shade-black;
      }

      &:last-child::after {
        display: none;
      }
    }
  }

  time,
  .categories {
    margin-top: 12.5px;

    @include atMobile {
      padding: 0;
      margin-bottom: 10px;
      border: none;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: none;
    }
  }
}
