nav.posts-navigation {
  width: 100%;
  background-color: $shade-black;
  cursor: pointer;

  @include hard-center;

  .nav-links,
  a,
  .nav-previous,
  .nav-next {
    width: 100%;
  }

  .nav-previous,
  .nav-next {
    display: flex;
  }

  .nav-links {
    display: flex;
  }

  a {
    padding: 20px;
    color: $white;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
  }

  .screen-reader-text {
    display: none;
  }
}
