#not-found {
  @include spacer-custom(150px, 100px);

  .icon-container {
    display: flex;
    align-items: center;

    svg {
      font-size: 3em;
      margin-left: 25px;
    }
  }

  @include allHeaders {
    margin: 0;
  }

  .link-container {
    @include mt-custom(45px, 20px);

    padding-top: 10px;
    border-top: 1px solid rgba($black, 0.2);

    ul {
      list-style: none;
      padding-left: 20px;

      li {
        margin: 12.5px 0;

        svg {
          margin-right: 5px;
        }
      }
    }
  }
}
