.client-info {
  display: flex;
  align-items: center;
  margin: 30px 0 0 115px;
  border-top: 1px solid rgba($white, 0.1);
  width: 100%;

  .client-name,
  .client-company {
    color: $white;

    .link {
      margin-left: 4px;
      text-decoration: underline;
    }
  }

  .client-name {
    margin-right: 15px;
  }
}
