.content {
  display: flex;

  .left-quote-container {
    i,
    svg {
      font-size: 2em;
      color: rgba($white, 0.75);

      @include atPortrait {
        font-size: 1.5em;
      }

      @include atTiny {
        font-size: 1.25em;
      }
    }
  }

  p {
    color: $white;
    font-size: 1.1em;
    line-height: 1.5;
    padding: 0 30px;
    position: relative;

    @include atPortrait {
      padding: 0 15px;
    }

    @include atTiny {
      font-size: 1em;
    }
  }

  span.read {
    cursor: pointer;
    transition: all 0.5s ease;

    @include onHover {
      color: $black;
    }
  }
}
