.content {
  display: flex;

  .left-quote-container,
  .right-quote-container {
    i,
    svg {
      font-size: 2em;
      color: rgba($white, 0.75);

      @include atPortrait {
        font-size: 1.5em;
      }

      @include atTiny {
        font-size: 1.25em;
      }
    }
  }

  .right-quote-container {
    display: flex;
    align-items: flex-end;

    @include atMobile {
      display: none;
    }
  }

  p {
    color: $white;
    font-size: 1.1em;
    line-height: 1.5;
    padding: 0 30px;
    position: relative;

    @include atPortrait {
      font-size: 0.95em;
      padding: 0 15px;
    }
  }
}
