.testimonial {
  @import "content";
  @import "client-info";

  @include hard-center;

  padding: 35px 35px 20px 35px;
  justify-content: center;

  &:not(.active) {
    display: none;
  }

  @include atLaptopAndUp {
    padding-right: 75px;
  }

  @include atLaptop {
    @include column-center;

    width: 80%;
  }

  @include atMobile {
    width: 90%;
    padding: 30px;
  }
}
