.testimonials {
  background-color: rgba($bg-grey, 0.35);

  .testimonial-container {
    @import "toggles";
    @import "single-testimonial";

    display: flex;
    position: relative;
    background-color: $blue;
    justify-content: center;

    @include atTablet {
      @include column-center;

      width: 100%;
    }

    @include atMobile {
      height: auto;
    }
  }
}
