.testimonials {
  background-color: rgba($bg-grey, 0.35);

  .testimonial-container {
    @import "toggles";

    display: flex;
    position: relative;
    background-color: $blue;

    @include atTablet {
      @include column-center;
    }

    @include atTablet {
      width: 100%;
    }

    .testimonial {
      @import "content";
      @import "client-info";

      padding: 35px 35px 20px 35px;

      @include atLaptop {
        @include column-center;

        width: 80%;
      }

      @include atMobile {
        width: 90%;
      }

      @include atMobile {
        padding: 15px 15px 5px 15px;
      }
    }
  }
}
