.hero {
  @extend %hard-center;

  @include allHeaders {
    text-align: center;
    color: $white;
    text-transform: uppercase;
  }

  h1 {
    margin-bottom: 20px;
  }

  .button-container {
    margin-top: 45px;
  }

  height: 100vh;
  background-color: $blue;
}
