/* stylelint-disable */
.hero {
  height: 100vh;
  background: $blue;
  background: linear-gradient(
    135deg,
    rgba(106,128,206,1) 33%,
    rgb(139, 154, 206) 70%,
    rgba(106,171,213,1) 100%
  );

  @import "hero-cards";

  @include hard-center;

  @include atMobile {
    justify-content: flex-start;
    padding-top: $spacer-large;
    height: 100%;
  }

  @include allHeaders {
    text-align: center;
    color: $white;
    text-transform: uppercase;
  }

  .hero-title {
    margin-bottom: $spacer-medium;
    font-weight: 500;

    span {
      font-weight: 700;
      color: $shade-black;
    }
  }

  .toggle-more {
    position: absolute;
    bottom: 5vh;
    right: 0;
    width: 100%;

    @include atMobile {
      display: none;
    }

    svg {
      color: $black;
      margin-bottom: 10px;
    }
  }
}
