.content-container {
  @include atMobile {
    padding: 35px 0 55px 0;
  }

  transform: translateY(-300px);

  &.active {
    transform: translateY(0);
  }

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0 0 0 35px;

    @include atTablet {
      justify-content: center;
      padding: 0;
    }

    @include atMobile {
      flex-direction: column;
      padding-left: 20px;
    }

    li {
      margin: 0 17.5px;
      text-transform: uppercase;

      @include atMobile {
        margin: 7.5px 0;
      }

      a {
        color: $white;
        font-weight: 700;

        @include atMobile {
          color: $shade-black;
        }
      }

      &:hover {
        transition: all 0.5s ease;
        transform: translateY(-1px);
      }
    }

    li.active {
      a {
        color: $shade-black;
        padding-bottom: 4.5px;

        @include atMobileAndUp {
          border-bottom: 2px solid $shade-black;
        }

        @include atMobile {
          color: $blue;
        }
      }
    }
  }
}
