.primary-navigation {
  @import "toggle-container";
  @import "navbar-scrolled";

  .primary-content {
    @import "content-container";

    padding: 35px 0 25px 0;
    position: absolute;
    display: flex;
    transition: all 0.5s ease;
    z-index: 10;
    -webkit-clip-path: polygon(0% 0%, 300% 0%, 0% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 300% 0%, 0% 100%, 0% 100%);

    @include atTablet {
      justify-content: center;
    }

    @include atMobile {
      justify-content: space-between;
      width: 100%;
    }

    &:not(.active) {
      @include atMobile {
        transform: translateY(-300px);
      }
    }

    &.active {
      @include atMobile {
        background-color: $white;
        transform: translateY(0);
      }
    }
  }
}
