.primary-content.scrolled {
  position: fixed;
  background-color: $white;
  min-width: 100%;
  border-bottom: 1px solid rgba($bg-grey, 0.5);
  padding-top: 25px;

  @include atMobileAndUp {
    clip-path: none;
  }

  ul li {
    a {
      color: $blue;
    }
  }
}
