&.scrolled {
  position: fixed;
  top: 0;
  background-color: $white;
  min-width: 100%;
  border-bottom: 1px solid rgba($bg-grey, 0.5);
  padding-top: 25px;
  display: flex;
  justify-content: center;
  transition: all 0.15s ease;

  .content-container {
    @include inner-container;

    display: flex;
    justify-content: flex-start;

    a {
      color: $black;
    }
  }
}
