$blue: #72addd;
$blue-dark: #0d4167;
$white: #fff;
$faded-blue: #78b8df;
$shade-black: #2c2f33;
$black: #23272a;
$grey: #8c8c8c;

//text specific colors
$para: #333;

//bg colors
$bg-grey: #ededed;

//misc colors
$yellow: #ffde2d;
