$blue: #748bdf;
$white: #fff;
$faded-blue: #99aab5;
$shade-black: #2c2f33;
$black: #23272a;
$grey: #8c8c8c;

//text specific colors
$para: #333;

//bg colors
$bg-grey: #ededed;

//misc colors
$yellow: #ffde2d;
