@import "colors";
@import "sizes";
@import "breakpoints";
@import "type";

// inner container global
$inner-container-large: 80%;
$inner-container-laptop: 90%;
$max-width: 1200px;

// Line heights global
$line-height-medium: 1.5;
